[submodule ".mason"]
	path = .mason
	url = https://github.com/mapbox/mason.git
[submodule "deps/geojson-cpp"]
	path = deps/geojson-cpp
	url = https://github.com/mapbox/geojson-cpp.git
[submodule "deps/wagyu"]
	path = deps/wagyu
	url = https://github.com/mapbox/wagyu.git
[submodule "deps/vector-tile"]
	path = deps/vector-tile
	url = https://github.com/mapbox/vector-tile.git
